/* App.css */
.app {
  }
  
  .sidebar {
    /* Add styling for the sidebar */
  }
  
  .editor {
    /* Add styling for the editor */
  }
  
  .navbar {
    /* Add styling for the navbar */
    background-color:#151619 ;
    width: 100%;
  }
  .navbar input{
    background-color: transparent;
  }
  .preview {
    /* Add styling for the preview */
  }
  
  /* Add dark mode styles as needed */
  .dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  